.portfolio-img {
    width: 100%;
    object-fit: cover;
}

.img-container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.links {
    position: relative;
    top: -30px;
}

@media (max-width: 600px) {
    .portfolio-img {
        height: 35vw;
    }
}
@media (min-width: 600px) {
    .portfolio-img {
        height: 17vw;
    }
}
@media (min-width: 992px) {
    .portfolio-img {
        height: 11vw;
    }
}

// .project-title {
//     color: black;
//     position: absolute;
//     top: -16px;
//     left: 16px;
// }
