html { height: 100%; }
body {
    min-height:100%; 
    position:relative; 
    padding-bottom: 100px;
}

h1 {
    font-size: 4.0rem;
}

.dark-section {
    background-color: #263E41;
    color: #eee;
}

.footer { 
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height: 70px;
    padding-top: 15px;
    margin-top: 30px;
}